body{
    min-height: 100vh;
    background-color: rgb(217, 227, 228) ;
}


.hero-image {
  background-image: linear-gradient(rgba(39, 56, 243, 0.985), rgb(4, 206, 247)), url("../images/beerparty.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background:linear-gradient(90deg, rgba(255,248,151,1) 0%, rgba(250,233,111,1) 20%, rgba(246,193,1,1) 40%, rgba(223,141,3,1) 56%, rgba(236,157,0,1) 80%, rgba(201,110,18,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; */
}
.is-invisible{
    display:none;
}

.is-visible{
    display:block;
}

.light-dark-button{
    color:black ;
    background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: black;
}
input{
    color: black;
}
